.weather-forecast{
   text-align:center;
    background-color: #abaeb4;
}
.weather-forecast-temperature-min{
	opacity: 0.6;
	margin-left:5px;
}

.weather-forecast-day{
	font-size: 24px;
	font-weight:bold;
}

.weather-forecast-month{
	font-size: 18px;
	font-weight:bold;
	opacity:0.6;
}

.weather-forecast-temperatures{
	font-weight:bold;
}

.weather-forecast-temperature-min{
	opacity: 0.6;
}

