form {
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.input-city {
  width: 300px;
  height:30px;
}
.search {
  width: 120px;
  background-color: #5298d1;
  border: 1px solid #4c2de9;
  color: azure;
  font-size: 20px;
  margin-left: 25px;
  border-radius: 5px;
  height:35px;
}

.city {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}
.month-day{
	margin-left:10px;
}

.current-datetime {
  text-align: center;
  color: #1071c0;
  font-size: 20px;
 }


.humidity-wind {
  text-align: center;
  font-size: 20px;
  color: #1071c0;
}

.city:hover {
  color: #1071c0;
}
.date-wind {
  margin-right: 50px;
}
.search:hover {
  cursor: pointer;
  background-color: #1071c0;
}

.container-weather {
  display: flex;
  justify-content: center;
}

.celsius-fahreneit {
  align-items: center;
  display: flex;
}

.temperature {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #875cdd;
}

.id-temperature {
  font-size: 60px;
}
.weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.temperature{
	font-size: 55px;
	margin-left: 10px;
}
 .unit {
  color: rgb(33, 33, 33);
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
  position: relative;
  line-height: 1;
  top: -25px;
}
