form {
  text-align: center;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}

.input-city {
  width: 300px;
  height:30px;
}
.search {
  width: 120px;
  background-color: #5298d1;
  border: 1px solid #4c2de9;
  color: azure;
  font-size: 20px;
  margin-left: 25px;
  border-radius: 5px;
  height:30px;
}

/*
.Weather {
  border: 1px solid #dadde1;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather form {
	margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}



.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather canvas {

  margin: 10px auto;
}

.temperature{
	font-size: 33px;
	margin-left: 5px;
}
 .unit {
  color: rgb(33, 33, 33);
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  position: relative;
  line-height: 1;
  top: -14px;
}*/
